@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 168 79.8% 40%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 210, 24.6%, 45.85%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 210, 15.5%, 87.84%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --chart-1: 168 80% 40%; /* primary */
    --chart-2: 168 65% 55%; /* 밝은 톤 (강조용) */
    --chart-3: 168 40% 30%; /* 어두운 톤 (보조 대비용) */
    --chart-4: 190 70% 50%; /* 인접색 (푸른톤) */
    --chart-5: 150 65% 45%; /* 인접색 (녹색톤) */
    --chart-6: 200 60% 55%; /* 차가운 하이라이트 */
    --chart-7: 42 80% 60%; /* 보색 포인트 (노랑-주황계열) */
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  img {
    @apply inline-block;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}

.z-max {
  z-index: 100;
}
